<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/main.css" rel="stylesheet">
    <title>Liber</title>
  </head>
  <body>
    <h1>Liber</h1>
    <p>An intuitive ebook shop</p>
  </body>
</html>
